@import url(https://fonts.google.com/specimen/Roboto);
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'roboto';
}

.header
{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    height: 100px;
    padding: 10px;
}
ul
{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.header p
{
    font-size: 24px;
    color: #f9faf8;
}
a
{
    text-decoration: none;
    color:#e5e7eb;
}
.content
{
    background-color: #1f2937;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.content header
{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    padding: 10px;
    margin: 50px;
}
.content .text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e5e7eb;
}
.content img
{
    max-width: 75%;
    height: auto;
    flex: 0 1 auto;
}
.content .text button
{
    padding: 5px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0 0 0 0.6);
    background-color: #3882f6;
    color:#e5e7eb;
}
header
{
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;

}
.boxes
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.box
{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.box img
{
    height: 300px;
    width: 500px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(0 0 0 0.6);
}
.box p
{
    padding: 30px;
    color: black;
    font-size: 16px;
    max-width: 500px;
}
.quote
{
    margin-top: 50px;
    background-color: #e5e7eb;
    padding:150px;
    color:#1f2937;
}
.quote .speech
{
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
}
.quote .owner
{
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 24px;
}
.container
{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal
{
    margin: 50px 150px;
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    flex: 1;
}
.modal .text
{
    display: flex;
    flex-direction: column;
}
.text .title
{
    color:#ffffff;
    font-weight: bold;   
    font-size: 20px;
}
.text p
{
    color: #e5e7eb;
    max-width: 500px;
}
.container button
{
    padding: 10px 5px;
    width: 150px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0 0 0 0.6);
    background-color: #3882f6;
    color:white;
}
.footer
{
    margin-top: 50px;
    background-color: #1F2937;
    color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
